*.pyc
.affiliation_dir*.json*
.idea
amq_username
amq_password
checkpoint*.json*
cms_transfers.py
es.conf
es_conf.json
etc/*
etc_orig/
fix_task_type.py
last_mappings.json
log/*
log_*
password
popdb.sqlite*
spider_cms_test.sh*
spider_gfactory.py
spider_osg.py
spider_volunteer.sh
src/htcondor_es/*.pyc
tmp/
username
venv*
.DS_Store
